# Работаем с данными бейсбольных игр

In [1]:
# отключаем предупреждения Anaconda
import warnings
warnings.simplefilter('ignore')

# импортируем библиотеку pandas
import pandas as pd

# cчитываем данные и выводим первые 5 наблюдений
gl = pd.read_csv('game_logs.csv')
gl.head()

,date,number_of_game,day_of_week,v_name,v_league,v_game_number,h_name,h_league,h_game_number,v_score,...,h_player_7_name,h_player_7_def_pos,h_player_8_id,h_player_8_name,h_player_8_def_pos,h_player_9_id,h_player_9_name,h_player_9_def_pos,additional_info,acquisition_info
0,18710504,0,Thu,CL1,na,1,FW1,na,1,0,...,Ed Mincher,7.0,mcdej101,James McDermott,8.0,kellb105,Bill Kelly,9.0,NaN,Y
1,18710505,0,Fri,BS1,na,1,WS3,na,1,20,...,Asa Brainard,1.0,burrh101,Henry Burroughs,9.0,berth101,Henry Berthrong,8.0,HTBF,Y
2,18710506,0,Sat,CL1,na,2,RC1,na,1,12,...,Pony Sager,6.0,birdg101,George Bird,7.0,stirg101,Gat Stires,9.0,NaN,Y
3,18710508,0,Mon,CL1,na,3,CH1,na,1,12,...,Ed Duffy,6.0,pinke101,Ed Pinkham,5.0,zettg101,George Zettlein,1.0,NaN,Y
4,18710509,0,Tue,BS1,na,2,TRO,na,1,9,...,Steve Bellan,5.0,pikel101,Lip Pike,3.0,cravb101,Bill Craver,6.0,HTBF,Y

In [4]:
# выводим точную информацию об использовании памяти
gl.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171907 entries, 0 to 171906
Columns: 161 entries, date to acquisition_info
dtypes: float64(77), int64(6), object(78)
memory usage: 859.4 MB

In [5]:
gl['date'].dtypes

dtype('int64')

# Внутреннее представление датафрейма

In [6]:
# посмотрим, сколько памяти в среднем используют 
# столбцы определенного типа
for dtype in ['float','int','object']:
    selected_dtype = gl.select_dtypes(include=[dtype])
    mean_usage_b = selected_dtype.memory_usage(deep=True).mean()
    mean_usage_mb = mean_usage_b / 1024 ** 2
    print("Использование памяти в среднем для {} столбцов: {:03.2f} MB".
          format(dtype,mean_usage_mb))

Использование памяти в среднем для float столбцов: 1.29 MB
Использование памяти в среднем для int столбцов: 0.00 MB
Использование памяти в среднем для object столбцов: 9.50 MB

# Подтипы

In [9]:
# импортируем библиотеку numpy
import numpy as np

# посмотрим минимальное и максимальное значения для
# каждого целочисленного типа
int_types = ["uint8", "int8", "int16"]
for it in int_types:
    print(np.iinfo(it))

Machine parameters for uint8
---------------------------------------------------------------
min = 0
max = 255
---------------------------------------------------------------

Machine parameters for int8
---------------------------------------------------------------
min = -128
max = 127
---------------------------------------------------------------

Machine parameters for int16
---------------------------------------------------------------
min = -32768
max = 32767
---------------------------------------------------------------

# Оптимизация числовых столбцов с помощью понижающего преобразования

In [10]:
# мы будем довольно часто подсчитывать использование памяти,
# поэтому напишем функцию, которая сэкономит нам немного времени

def mem_usage(pandas_obj):
    if isinstance(pandas_obj,pd.DataFrame):
        usage_b = pandas_obj.memory_usage(deep=True).sum()
    else: # предположим, что если это не датафрейм, то серия
        usage_b = pandas_obj.memory_usage(deep=True)
    usage_mb = usage_b / 1024 ** 2 # преобразуем байты в мегабайты
    return "{:03.2f} MB".format(usage_mb)

# выполняем понижающее преобразование 
# для столбцов типа int
gl_int = gl.select_dtypes(include=['int'])
converted_int = gl_int.apply(pd.to_numeric,downcast='unsigned')

print(mem_usage(gl_int))
print(mem_usage(converted_int))

compare_ints = pd.concat([gl_int.dtypes,converted_int.dtypes],axis=1)
compare_ints.columns = ['before','after']
compare_ints.apply(pd.Series.value_counts)

0.00 MB
0.00 MB

Empty DataFrame
Columns: [before, after]
Index: []

In [11]:
# выполняем понижающее преобразование 
# для столбцов типа float
gl_float = gl.select_dtypes(include=['float'])
converted_float = gl_float.apply(pd.to_numeric,downcast='float')

print(mem_usage(gl_float))
print(mem_usage(converted_float))

compare_floats = pd.concat([gl_float.dtypes,converted_float.dtypes],axis=1)
compare_floats.columns = ['before','after']
compare_floats.apply(pd.Series.value_counts)

100.99 MB
50.49 MB

         before  after
float32     NaN   77.0
float64    77.0    NaN

In [12]:
# создаем копию исходного датафрейма
optimized_gl = gl.copy()

# заменяем исходные числовые столбцы
# оптимизированными
optimized_gl[converted_int.columns] = converted_int
optimized_gl[converted_float.columns] = converted_float

# смотрим использование памяти
print(mem_usage(gl))
print(mem_usage(optimized_gl))

859.43 MB
808.93 MB

# Сравнение способов хранения числовых и строковых значений

In [9]:
# смотрим размеры отдельно
# хранящихся строк
from sys import getsizeof

s1 = 'working out'
s2 = 'memory usage for'
s3 = 'strings in python is fun!'
s4 = 'strings in python is fun!'

for s in [s1, s2, s3, s4]:
    print(getsizeof(s))

60
65
74
74

In [10]:
# смотрим размеры строк, являющихся
# элементами серии
obj_series = pd.Series(['working out',
                          'memory usage for',
                          'strings in python is fun!',
                          'strings in python is fun!'])
obj_series.apply(getsizeof)

0    60
1    65
2    74
3    74
dtype: int64

In [11]:
# смотрим количество уникальных значений
# по каждому столбцу типа object
gl_obj = gl.select_dtypes(include=['object']).copy()
gl_obj.describe()

,day_of_week,v_name,v_league,h_name,h_league,day_night,completion,forefeit,protest,park_id,...,h_player_6_id,h_player_6_name,h_player_7_id,h_player_7_name,h_player_8_id,h_player_8_name,h_player_9_id,h_player_9_name,additional_info,acquisition_info
count,171907,171907,171907,171907,171907,140150,116,145,180,171907,...,140838,140838,140838,140838,140838,140838,140838,140838,1456,140841
unique,7,148,7,148,7,2,116,3,5,245,...,4774,4720,5253,5197,4760,4710,5193,5142,332,1
top,Sat,CHN,NL,CHN,NL,D,"19480921,NYC15,11,9,53",H,V,STL07,...,grimc101,Charlie Grimm,grimc101,Charlie Grimm,lopea102,Al Lopez,spahw101,Warren Spahn,HTBF,Y
freq,28891,8870,88866,9024,88867,82724,1,69,90,7022,...,427,427,491,491,676,676,339,339,1112,140841

In [12]:
# запишем столбец day_of_week как dow
dow = gl_obj.day_of_week
print(dow.head())

# присваиваем столбцу dow тип category
dow_cat = dow.astype('category')
print(dow_cat.head())

0    Thu
1    Fri
2    Sat
3    Mon
4    Tue
Name: day_of_week, dtype: object
0    Thu
1    Fri
2    Sat
3    Mon
4    Tue
Name: day_of_week, dtype: category
Categories (7, object): ['Fri', 'Mon', 'Sat', 'Sun', 'Thu', 'Tue', 'Wed']

In [13]:
# выводим целочисленные значения,
# соответствующие исходным значениям
dow_cat.head().cat.codes

0    4
1    0
2    2
3    1
4    5
dtype: int8

In [14]:
# смотрим, сколько памяти использует столбец dow
# до и после преобразования в тип category
print(mem_usage(dow))
print(mem_usage(dow_cat))

9.84 MB
0.16 MB

In [15]:
converted_obj = pd.DataFrame()

# пишем цикл, которой перебирает каждый столбец object, 
# проверяет его на соответствие заданному порогу 
# (количество уникальных значений должно быть меньше 50% 
# от общего количества значений), и если столбец 
# удовлетворяет порогу, преобразовывает его в тип category
for col in gl_obj.columns:
    num_unique_values = len(gl_obj[col].unique())
    num_total_values = len(gl_obj[col])
    if num_unique_values / num_total_values < 0.5:
        converted_obj.loc[:,col] = gl_obj[col].astype('category')
    else:
        converted_obj.loc[:,col] = gl_obj[col]

In [16]:
# снова применяем функцию mem_usage, смотрим,
# сколько памяти занимают все столбцы типа object
# до и после преобразования в тип category
print(mem_usage(gl_obj))
print(mem_usage(converted_obj))

compare_obj = pd.concat([gl_obj.dtypes,converted_obj.dtypes],axis=1)
compare_obj.columns = ['before','after']
compare_obj.apply(pd.Series.value_counts)

750.57 MB
51.67 MB

          before  after
object      78.0    NaN
category     NaN    2.0
category     NaN    1.0
category     NaN    1.0
category     NaN    1.0
...          ...    ...
category     NaN    1.0
category     NaN    1.0
category     NaN    1.0
category     NaN    1.0
category     NaN    1.0

[78 rows x 2 columns]

In [17]:
# смотрим, сколько памяти использует датафрейм
# после оптимизации типов
optimized_gl[converted_obj.columns] = converted_obj
mem_usage(optimized_gl)

'110.03 MB'

In [18]:
# смотрим, сколько памяти использует
# столбец date
date = optimized_gl.date
print(mem_usage(date))
date.head()

1.31 MB

0    18710504
1    18710505
2    18710506
3    18710508
4    18710509
Name: date, dtype: int64

# Задаем типы во время считывания данных

In [19]:
# преобразуем столбец 
# date в тип datetime 
optimized_gl['date'] = pd.to_datetime(date,unit='s')

# смотрим, сколько памяти использует
# столбец date
print(mem_usage(optimized_gl))
optimized_gl.date.head()

110.03 MB

0   1970-08-05 13:21:44
1   1970-08-05 13:21:45
2   1970-08-05 13:21:46
3   1970-08-05 13:21:48
4   1970-08-05 13:21:49
Name: date, dtype: datetime64[ns]

In [20]:
# создаем словарь, в котором ключами будут имена
# столбцов, а значениями - типы столбцов
dtypes = optimized_gl.drop('date',axis=1).dtypes

dtypes_col = dtypes.index
dtypes_type = [i.name for i in dtypes.values]

column_types = dict(zip(dtypes_col, dtypes_type))

# вместо того, чтобы печатать 161 столбец,
# выберем 10 пар "ключ-значение" из словаря
# и красиво распечатаем их, используя prettyprint

preview = first2pairs = {key:value for key,value in list(column_types.items())}
import pprint
pp = pp = pprint.PrettyPrinter(indent=4)
pp.pprint(preview)

{   '1b_umpire_id': 'category',
    '1b_umpire_name': 'category',
    '2b_umpire_id': 'category',
    '2b_umpire_name': 'category',
    '3b_umpire_id': 'category',
    '3b_umpire_name': 'category',
    'acquisition_info': 'category',
    'additional_info': 'category',
    'attendance': 'float32',
    'completion': 'category',
    'day_night': 'category',
    'day_of_week': 'category',
    'forefeit': 'category',
    'h_assists': 'float32',
    'h_at_bats': 'float32',
    'h_balks': 'float32',
    'h_caught_stealing': 'float32',
    'h_double_plays': 'float32',
    'h_doubles': 'float32',
    'h_errors': 'float32',
    'h_first_catcher_interference': 'float32',
    'h_game_number': 'int64',
    'h_grounded_into_double': 'float32',
    'h_hit_by_pitch': 'float32',
    'h_hits': 'float32',
    'h_homeruns': 'float32',
    'h_individual_earned_runs': 'float32',
    'h_intentional walks': 'float32',
    'h_league': 'category',
    'h_left_on_base': 'float32',
    'h_line_score': 'category',
    'h_manager_id': 'category',
    'h_manager_name': 'category',
    'h_name': 'category',
    'h_passed_balls': 'float32',
    'h_pitchers_used': 'float32',
    'h_player_1_def_pos': 'float32',
    'h_player_1_id': 'category',
    'h_player_1_name': 'category',
    'h_player_2_def_pos': 'float32',
    'h_player_2_id': 'category',
    'h_player_2_name': 'category',
    'h_player_3_def_pos': 'float32',
    'h_player_3_id': 'category',
    'h_player_3_name': 'category',
    'h_player_4_def_pos': 'float32',
    'h_player_4_id': 'category',
    'h_player_4_name': 'category',
    'h_player_5_def_pos': 'float32',
    'h_player_5_id': 'category',
    'h_player_5_name': 'category',
    'h_player_6_def_pos': 'float32',
    'h_player_6_id': 'category',
    'h_player_6_name': 'category',
    'h_player_7_def_pos': 'float32',
    'h_player_7_id': 'category',
    'h_player_7_name': 'category',
    'h_player_8_def_pos': 'float32',
    'h_player_8_id': 'category',
    'h_player_8_name': 'category',
    'h_player_9_def_pos': 'float32',
    'h_player_9_id': 'category',
    'h_player_9_name': 'category',
    'h_putouts': 'float32',
    'h_rbi': 'float32',
    'h_sacrifice_flies': 'float32',
    'h_sacrifice_hits': 'float32',
    'h_score': 'int64',
    'h_starting_pitcher_id': 'category',
    'h_starting_pitcher_name': 'category',
    'h_stolen_bases': 'float32',
    'h_strikeouts': 'float32',
    'h_team_earned_runs': 'float32',
    'h_triple_plays': 'float32',
    'h_triples': 'float32',
    'h_walks': 'float32',
    'h_wild_pitches': 'float32',
    'hp_umpire_id': 'category',
    'hp_umpire_name': 'category',
    'length_minutes': 'float32',
    'length_outs': 'float32',
    'lf_umpire_id': 'category',
    'lf_umpire_name': 'category',
    'losing_pitcher_id': 'category',
    'losing_pitcher_name': 'category',
    'number_of_game': 'int64',
    'park_id': 'category',
    'protest': 'category',
    'rf_umpire_id': 'category',
    'rf_umpire_name': 'category',
    'saving_pitcher_id': 'category',
    'saving_pitcher_name': 'category',
    'v_assists': 'float32',
    'v_at_bats': 'float32',
    'v_balks': 'float32',
    'v_caught_stealing': 'float32',
    'v_double_plays': 'float32',
    'v_doubles': 'float32',
    'v_errors': 'float32',
    'v_first_catcher_interference': 'float32',
    'v_game_number': 'int64',
    'v_grounded_into_double': 'float32',
    'v_hit_by_pitch': 'float32',
    'v_hits': 'float32',
    'v_homeruns': 'float32',
    'v_individual_earned_runs': 'float32',
    'v_intentional walks': 'float32',
    'v_league': 'category',
    'v_left_on_base': 'float32',
    'v_line_score': 'category',
    'v_manager_id': 'category',
    'v_manager_name': 'category',
    'v_name': 'category',
    'v_passed_balls': 'float32',
    'v_pitchers_used': 'float32',
    'v_player_1_def_pos': 'float32',
    'v_player_1_id': 'category',
    'v_player_1_name': 'category',
    'v_player_2_def_pos': 'float32',
    'v_player_2_id': 'category',
    'v_player_2_name': 'category',
    'v_player_3_def_pos': 'float32',
    'v_player_3_id': 'category',
    'v_player_3_name': 'category',
    'v_player_4_def_pos': 'float32',
    'v_player_4_id': 'category',
    'v_player_4_name': 'category',
    'v_player_5_def_pos': 'float32',
    'v_player_5_id': 'category',
    'v_player_5_name': 'category',
    'v_player_6_def_pos': 'float32',
    'v_player_6_id': 'category',
    'v_player_6_name': 'category',
    'v_player_7_def_pos': 'float32',
    'v_player_7_id': 'category',
    'v_player_7_name': 'category',
    'v_player_8_def_pos': 'float32',
    'v_player_8_id': 'category',
    'v_player_8_name': 'category',
    'v_player_9_def_pos': 'float32',
    'v_player_9_id': 'category',
    'v_player_9_name': 'category',
    'v_putouts': 'float32',
    'v_rbi': 'float32',
    'v_sacrifice_flies': 'float32',
    'v_sacrifice_hits': 'float32',
    'v_score': 'int64',
    'v_starting_pitcher_id': 'category',
    'v_starting_pitcher_name': 'category',
    'v_stolen_bases': 'float32',
    'v_strikeouts': 'float32',
    'v_team_earned_runs': 'float32',
    'v_triple_plays': 'float32',
    'v_triples': 'float32',
    'v_walks': 'float32',
    'v_wild_pitches': 'float32',
    'winning_pitcher_id': 'category',
    'winning_pitcher_name': 'category',
    'winning_rbi_batter_id': 'category',
    'winning_rbi_batter_id_name': 'category'}

In [25]:
# парсер даты
dateparse = lambda x: pd.to_datetime(x,unit='s')

# считываем данные с нужными нам типами
read_and_optimized = pd.read_csv('data/game_logs.csv',
                                 dtype=column_types,
                                 parse_dates=['date'],
                                 date_parser=dateparse,
                                 infer_datetime_format=True)
# смотрим использование памяти
print(mem_usage(read_and_optimized))
read_and_optimized.head()

110.02 MB

,date,number_of_game,day_of_week,v_name,v_league,v_game_number,h_name,h_league,h_game_number,v_score,...,h_player_7_name,h_player_7_def_pos,h_player_8_id,h_player_8_name,h_player_8_def_pos,h_player_9_id,h_player_9_name,h_player_9_def_pos,additional_info,acquisition_info
0,1970-08-05 13:21:44,0,Thu,CL1,na,1,FW1,na,1,0,...,Ed Mincher,7.0,mcdej101,James McDermott,8.0,kellb105,Bill Kelly,9.0,NaN,Y
1,1970-08-05 13:21:45,0,Fri,BS1,na,1,WS3,na,1,20,...,Asa Brainard,1.0,burrh101,Henry Burroughs,9.0,berth101,Henry Berthrong,8.0,HTBF,Y
2,1970-08-05 13:21:46,0,Sat,CL1,na,2,RC1,na,1,12,...,Pony Sager,6.0,birdg101,George Bird,7.0,stirg101,Gat Stires,9.0,NaN,Y
3,1970-08-05 13:21:48,0,Mon,CL1,na,3,CH1,na,1,12,...,Ed Duffy,6.0,pinke101,Ed Pinkham,5.0,zettg101,George Zettlein,1.0,NaN,Y
4,1970-08-05 13:21:49,0,Tue,BS1,na,2,TRO,na,1,9,...,Steve Bellan,5.0,pikel101,Lip Pike,3.0,cravb101,Bill Craver,6.0,HTBF,Y