### Строим логистическую регрессию - угадываем пол спортсмена по признакам

https://www.kaggle.com/rio2016/olympic-games

In [1]:
import pandas as pd
import numpy as np

In [94]:
data = pd.read_csv( 'athletes.csv' )
data.head()

,id,name,nationality,sex,dob,height,weight,sport,gold,silver,bronze
0,736041664,A Jesus Garcia,ESP,male,10/17/69,1.72,64.0,athletics,0,0,0
1,532037425,A Lam Shin,KOR,female,9/23/86,1.68,56.0,fencing,0,0,0
2,435962603,Aaron Brown,CAN,male,5/27/92,1.98,79.0,athletics,0,0,1
3,521041435,Aaron Cook,MDA,male,1/2/91,1.83,80.0,taekwondo,0,0,0
4,33922579,Aaron Gate,NZL,male,11/26/90,1.81,71.0,cycling,0,0,0

In [95]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11538 entries, 0 to 11537
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           11538 non-null  int64
 1   name         11538 non-null  object
 2   nationality  11538 non-null  object
 3   sex          11538 non-null  object
 4   dob          11537 non-null  object
 5   height       11208 non-null  float64
 6   weight       10879 non-null  float64
 7   sport        11538 non-null  object
 8   gold         11538 non-null  int64
 9   silver       11538 non-null  int64
 10  bronze       11538 non-null  int64
dtypes: float64(2), int64(4), object(5)
memory usage: 991.7+ KB

#### Попробуем угадать пол на основе роста, веса и вида спорта

Посмотрим много ли в наших признаках пустых значений

In [96]:
data[ pd.isnull( data['height'] ) ].head()

,id,name,nationality,sex,dob,height,weight,sport,gold,silver,bronze
12,258556239,Abbas Qali,IOA,male,10/11/92,NaN,NaN,aquatics,0,0,0
47,469953606,Abdoullah Bamoussa,ITA,male,6/8/86,NaN,NaN,athletics,0,0,0
50,325809293,Abdul Omar,GHA,male,10/3/93,NaN,NaN,boxing,0,0,0
52,262868423,Abdulaziz Alshatti,IOA,male,10/30/90,NaN,NaN,fencing,0,0,0
56,897549624,Abdullah Hel Baki,BAN,male,8/1/89,NaN,NaN,shooting,0,0,0

In [97]:
print('Для height пустых строк {}'.format( len( data[ pd.isnull( data['height'] ) ] ) ))
print('Для weight пустых строк {}'.format( len( data[ pd.isnull( data['weight'] ) ] ) ))
print('Для sport пустых строк {}'.format( len( data[ pd.isnull( data['sport'] ) ] ) ))
print('Для sport пустых строк {}'.format( len( data[ pd.isnull( data['sex'] ) ] ) ))
print('Всего строк в наборе {}'.format( len( data ) ))

Для height пустых строк 330
Для weight пустых строк 659
Для sport пустых строк 0
Для sport пустых строк 0
Всего строк в наборе 11538

In [98]:
type(data['sex'][0])

str

In [99]:
temp = pd.DataFrame(0.0, columns = pd.MultiIndex.from_product([data['sex'].unique(), ['weight', 'height']]), index = data['sport'].unique() )

In [100]:
for sport in temp.index:
    for sex in ('male', 'female'):
        for x in ('weight', 'height'):
            temp.loc[sport][sex, x] = data[data['sport'] == sport][data['sex'] == sex][[x]].mean(skipna=True)

<ipython-input-100-5bc5e646eea1>:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  temp.loc[sport][sex, x] = data[data['sport'] == sport][data['sex'] == sex][[x]].mean(skipna=True)

In [101]:
temp.fillna(0, inplace=True)

In [103]:
temp.head()

                male               female
              weight    height     weight    height
athletics  74.777680  1.809234  60.152542  1.690500
fencing    78.785124  1.833802  62.733871  1.712581
taekwondo  74.809524  1.863750  61.258065  1.730159
cycling    72.576052  1.793074  60.207254  1.673128
triathlon  66.814815  1.788704  54.563636  1.676545

In [105]:
for i in data.index:
    t = data.loc[i]
    if (pd.isnull(t['height'])):
        data.loc[i, 'height'] = temp.loc[t['sport']][t['sex'], 'height']
    if (pd.isnull(t['weight'])):
        data.loc[i, 'weight'] = temp.loc[t['sport']][t['sex'], 'weight']

In [106]:
print('Для sex пустых строк {}'.format( len( data[ pd.isnull( data['sex'] ) ] ) ))
print('Для height пустых строк {}'.format( len( data[ pd.isnull( data['height'] ) ] ) ))
print('Для weight пустых строк {}'.format( len( data[ pd.isnull( data['weight'] ) ] ) ))
print('Для sport пустых строк {}'.format( len( data[ pd.isnull( data['sport'] ) ] ) ))
print('Для sport пустых строк {}'.format( len( data[ pd.isnull( data['sex'] ) ] ) ))
print('Всего строк в наборе {}'.format( len( data ) ))

Для sex пустых строк 0
Для height пустых строк 0
Для weight пустых строк 0
Для sport пустых строк 0
Для sport пустых строк 0
Всего строк в наборе 11538

In [107]:
data.head()

,id,name,nationality,sex,dob,height,weight,sport,gold,silver,bronze
0,736041664,A Jesus Garcia,ESP,male,10/17/69,1.72,64.0,athletics,0,0,0
1,532037425,A Lam Shin,KOR,female,9/23/86,1.68,56.0,fencing,0,0,0
2,435962603,Aaron Brown,CAN,male,5/27/92,1.98,79.0,athletics,0,0,1
3,521041435,Aaron Cook,MDA,male,1/2/91,1.83,80.0,taekwondo,0,0,0
4,33922579,Aaron Gate,NZL,male,11/26/90,1.81,71.0,cycling,0,0,0

In [108]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11538 entries, 0 to 11537
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           11538 non-null  int64
 1   name         11538 non-null  object
 2   nationality  11538 non-null  object
 3   sex          11538 non-null  object
 4   dob          11537 non-null  object
 5   height       11538 non-null  float64
 6   weight       11538 non-null  float64
 7   sport        11538 non-null  object
 8   gold         11538 non-null  int64
 9   silver       11538 non-null  int64
 10  bronze       11538 non-null  int64
dtypes: float64(2), int64(4), object(5)
memory usage: 991.7+ KB

In [109]:
from sklearn.linear_model import LogisticRegression

In [110]:
# попробуем выбрать какие-нибудь признаки
selectedColumns = data[ [ 'height', 'weight', 'sport', 'sex' ] ]

# столбец sport является категориальной переменой
# переведем ее в значения 0 и 1, добавив столбцы с соответствующими названиями
X = pd.get_dummies( selectedColumns, columns = [ 'sport' ] )

# столбец sex является целевой переменной, удаляем его из X
del X['sex']
X.head()

,height,weight,sport_aquatics,sport_archery,sport_athletics,sport_badminton,sport_basketball,sport_boxing,sport_canoe,sport_cycling,...,sport_rugby sevens,sport_sailing,sport_shooting,sport_table tennis,sport_taekwondo,sport_tennis,sport_triathlon,sport_volleyball,sport_weightlifting,sport_wrestling
0,1.72,64.0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1.68,56.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1.98,79.0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1.83,80.0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,1.81,71.0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [111]:
# целевая переменная (столбец sex) снова является категориальной
# переведем значения столбца в числа, оставив один столбец

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [112]:
le.fit( data['sex'] )

LabelEncoder()

In [113]:
le.classes_

array(['female', 'male'], dtype=object)

In [114]:
# пример "расшировки" столбца sex

le.transform( [ 'male', 'female', 'male' ] )

array([1, 0, 1], dtype=int64)

In [115]:
# записываем в переменную y преобразованный столбец sex

y = pd.Series( data = le.transform( data['sex'] ) )
y.head()

0    1
1    0
2    1
3    1
4    1
dtype: int32

In [118]:
model = LogisticRegression(max_iter=1000)

In [119]:
# обучаем модель
model.fit( X, y )
predictions = model.predict_proba( X )

In [120]:
predictions[:5]

array([[0.58796452, 0.41203548],
       [0.90643819, 0.09356181],
       [0.01998216, 0.98001784],
       [0.16902332, 0.83097668],
       [0.14990233, 0.85009767]])

In [121]:
# сравниваем факт с предсказаниями
# (да, сравнивать предсказания с самими данными не круто, лучше было разбить на обучающую и тестовую выборку)
# это будет следующим заданием

list(zip( predictions[:, 1], y ))[:5]

[(0.4120354837589576, 1),
 (0.09356180697025678, 0),
 (0.9800178350549482, 1),
 (0.8309766751944451, 1),
 (0.8500976696023875, 1)]

In [122]:
model.score(X, y)

0.8215461951811406

### Задание

1. Построить правильно модель.
2. Улучшить ее показатели.

In [126]:
len(model.coef_[0])
len(X.columns)

30