# Работаем с данными Преступления в Лос-Анджелесе

### Упражнение

1. Оптимизировать загрузку памяти датафреймом статистики преступлений в Лос-Анджелесе.
- Столбец 'Date Reported' должн быть представлен типом данных  datetime64[ns]
2. Добавить столбец полного времени совершенного преступления (тип данных datetime64[ns])
3. Добавить столбец дня недели совершенного преступления (тип данных category)

### Упражнение по визуализации

1. Стилизировать столбец таблицы общего количества преступлений по дням недели.    


2. Построить распределение количества преступлений по дням недедли в зависимости от района:
- линейна диаграмма;
- гистограмма по дням;
- столбчатая диаграмма накопления ( stacked bar chart); 
- площадная диаграмма (стыковачная и нестыковочная;
- диаграмма рассеяния количества преступлений по дням недели (два графика scatter_matrix и pairplot);
- распределение количества преступлений в любой день недели (например:пятница).
3. Анализ количества преступлений по районам:
- гистограмма распределения количества преступлений в зависимости от района;
- распределение количества преступлений за любой год (например: 2010 год);
- показать через jointplot динамику изменений количества преступлений в сравнении 2010 и 2017 года;
- годовая динамика изменения количества преступлений по районам (линейный график  с легендами и удобным масштабом).
4. Анализ преступлений в заданном районе:
- количество отдельно взятого вида преступления распределенного по дням недели;
- построить таблицу (вид преступления по дням недели) и подсветить максимальные и минимальные значения для каждого вида преступления разным цветом;
- сравнение распределения 20 наиболее часто встречающихся преступлений по дня недели для заданного района (показать через boxplot);
- проанализировать коэфициент корреляции вида преступления и дня недели (результат в виде heatmap на которой отображено только корреляция вида преступления от дня недели)
- линейный график коэффициент корреляции дня недели и вида преступления в абсолютных значениях.

### Упражнение по визуализации ч.2

5. Сравнение количества преступлений по дням недели и районам:
- построить линейный график для трех любых районов;
- построить линейный график для всех районов сразу.
6. Доля преступлений в конкретном районе от общего количества:
- Bar график для всех районов по всей статистики;
- Bar график для всех районов по годам.
7. box график статистики всех преступлений в распределении по годам.   


8. Интерактивный график:
- количество преступлений от дня недели для отдельного района;
- количество преступлений от района для от дельного дня недели.

In [1]:
# отключаем предупреждения Anaconda
import warnings
warnings.simplefilter('ignore')

import pandas as pd
import numpy as np

import datetime

# задаем некоторые настройки pandas, регулирующие
# формат вывода
# pd.set_option('display.notebook_repr_html', False)
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
# pd.set_option('display.width', None)

In [2]:
# cчитываем данные и выводим первые 5 наблюдений
gl = pd.read_csv('Data/Crime_Data_from_2010.csv')
gl.head()

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
0,1208575,03/14/2013,03/11/2013,1800,12,77th Street,1241,626,INTIMATE PARTNER - SIMPLE ASSAULT,0416 0446 1243 2000,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,626.0,NaN,NaN,NaN,6300 BRYNHURST AV,NaN,"(33.9829, -118.3338)"
1,102005556,01/25/2010,01/22/2010,2300,20,Olympic,2071,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,VAN NESS,15TH,"(34.0454, -118.3157)"
2,418,03/19/2013,03/18/2013,2030,18,Southeast,1823,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,200 E 104TH ST,NaN,"(33.942, -118.2717)"
3,101822289,11/11/2010,11/10/2010,1800,18,Southeast,1803,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,88TH,WALL,"(33.9572, -118.2717)"
4,42104479,01/11/2014,01/04/2014,2300,21,Topanga,2133,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329,...,NaN,IC,Invest Cont,745.0,NaN,NaN,NaN,7200 CIRRUS WY,NaN,"(34.2009, -118.6369)"

In [3]:
gl.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1692056 entries, 0 to 1692055
Data columns (total 26 columns):
 #   Column                  Dtype
---  ------                  -----
 0   DR Number               int64
 1   Date Reported           object
 2   Date Occurred           object
 3   Time Occurred           int64
 4   Area ID                 int64
 5   Area Name               object
 6   Reporting District      int64
 7   Crime Code              int64
 8   Crime Code Description  object
 9   MO Codes                object
 10  Victim Age              float64
 11  Victim Sex              object
 12  Victim Descent          object
 13  Premise Code            float64
 14  Premise Description     object
 15  Weapon Used Code        float64
 16  Weapon Description      object
 17  Status Code             object
 18  Status Description      object
 19  Crime Code 1            float64
 20  Crime Code 2            float64
 21  Crime Code 3            float64
 22  Crime Code 4            float64
 23  Address                 object
 24  Cross Street            object
 25  Location                object
dtypes: float64(7), int64(5), object(14)
memory usage: 1.6 GB