## Задание:

Проанализировать датафрейм статистики NBA. (файл nba.csv) Вывести:

1. Проранжировать бюджет команд на зарплату от самого высокого до самого низкого.
2. 10 наиболее высокооплачиваемых игроков в лиге.
3. 3 наиболее высооплачиваемых игроков в каждой команде.
4. Предложить первые пятерки каждой команды на основе их зарплаты (учитывайте, что в первой пятерке на каждой позиции один игрок (см. рисунок)).
5. Самая молодая и самая возростная команда в лиге.
6. Наиболее часто используемый номер игрока в лиге.
7. Имя и рост самого высокого и самого низкого игрока в лиге в метрической системе.

P.S. Возможные пропуски в зарплатной ведомости заполнить медианным значением зарплаты команды игрока с пропуском.

### Подготовка данных:

Загружаем данные, попутно конвертируя номер игрока в строку, возраст в целое число и рост в метрическую систему.

In [1]:
import pandas as pd

def float2str(n):
    return str(int(float(n) if n > '' else 0))

def float2int(n):
    return int(float(n) if n > '' else 0)

def imp2metric(n):
    if n > '':
        arr = n.split('-')
        if len(arr) == 2:
            return int(round(int(arr[0]) * 30.48 + int(arr[1]) * 2.54))
        else:
            return 0
    else:
        return 0

whole_data = pd.read_csv('nba.csv', 
                         delimiter = ',', 
                         converters = { 
                             'Number': float2str,  
                             'Age': float2int,
                             'Height': imp2metric
                         })

Строки без имени игрока не несут никакой информации. Убираем:

In [2]:
data = whole_data[whole_data['Name'] > '']

Посмотрим, где пусто:

In [3]:
print(data.isnull().sum())

Name         0
Team         0
Number       0
Position     0
Age          0
Height       0
Weight       0
College     84
Salary      11
dtype: int64

Колледж нас не интересует, а зарплату заполним медианным значением, взятым по команде.

In [4]:
grouped = data.groupby('Team')
res = []
for team in data.Team.unique():
    by_team = grouped.get_group(team)
    median = by_team['Salary'].median()    
    res.append(by_team.fillna({ 'Salary': median }))
data = pd.concat(res)

### Задание 1:

Бюджеты команд в порядке убывания:

In [5]:
grouped = data.groupby('Team')
res = []
for team in data.Team.unique():
    by_team = grouped.get_group(team)
    res.append({ 'Team': team, 'Salary': by_team['Salary'].sum() })   
res.sort(key = lambda n: n['Salary'], reverse = True)    
print(*res, sep='\n')

{'Team': 'Cleveland Cavaliers', 'Salary': 111963689.0}
{'Team': 'Los Angeles Clippers', 'Salary': 94854640.0}
{'Team': 'Memphis Grizzlies', 'Salary': 94726918.0}
{'Team': 'Oklahoma City Thunder', 'Salary': 93765298.0}
{'Team': 'Golden State Warriors', 'Salary': 88868997.0}
{'Team': 'Miami Heat', 'Salary': 87479113.0}
{'Team': 'Chicago Bulls', 'Salary': 86783378.0}
{'Team': 'San Antonio Spurs', 'Salary': 84442733.0}
{'Team': 'New Orleans Pelicans', 'Salary': 82750774.0}
{'Team': 'Charlotte Hornets', 'Salary': 78340920.0}
{'Team': 'Washington Wizards', 'Salary': 76328636.0}
{'Team': 'Houston Rockets', 'Salary': 75283021.0}
{'Team': 'New York Knicks', 'Salary': 73303898.0}
{'Team': 'Atlanta Hawks', 'Salary': 72902950.0}
{'Team': 'Los Angeles Lakers', 'Salary': 71770431.0}
{'Team': 'Sacramento Kings', 'Salary': 71683666.0}
{'Team': 'Dallas Mavericks', 'Salary': 71198732.0}
{'Team': 'Toronto Raptors', 'Salary': 71117611.0}
{'Team': 'Milwaukee Bucks', 'Salary': 69603517.0}
{'Team': 'Detroit Pistons', 'Salary': 67168263.0}
{'Team': 'Indiana Pacers', 'Salary': 66751826.0}
{'Team': 'Phoenix Suns', 'Salary': 63445135.0}
{'Team': 'Utah Jazz', 'Salary': 63060091.0}
{'Team': 'Denver Nuggets', 'Salary': 63028930.0}
{'Team': 'Minnesota Timberwolves', 'Salary': 61858057.0}
{'Team': 'Boston Celtics', 'Salary': 61562310.5}
{'Team': 'Orlando Magic', 'Salary': 60161470.0}
{'Team': 'Brooklyn Nets', 'Salary': 52528475.0}
{'Team': 'Portland Trail Blazers', 'Salary': 48301818.0}
{'Team': 'Philadelphia 76ers', 'Salary': 32029978.5}

### Задание 2:

10 наиболее высокооплачиваемых игроков в лиге.

In [6]:
data.sort_values('Salary', inplace = True, ascending = False)
print(data.head(10)[['Name', 'Salary']])

                Name      Salary
109      Kobe Bryant  25000000.0
169     LeBron James  22970500.0
33   Carmelo Anthony  22875000.0
251    Dwight Howard  22359364.0
339       Chris Bosh  22192730.0
100       Chris Paul  21468695.0
414     Kevin Durant  20158622.0
164     Derrick Rose  20093064.0
349      Dwyane Wade  20000000.0
174       Kevin Love  19689000.0

### Задание 3:
3 наиболее высооплачиваемых игрока в каждой команде.

In [7]:
grouped = data.groupby('Team')
for team in data.Team.unique():
    by_team = grouped.get_group(team).sort_values('Salary', ascending = False)
    print(team)
    print(by_team.head(3)[['Name', 'Salary']])
    print('\n')

Los Angeles Lakers
               Name      Salary
109     Kobe Bryant  25000000.0
111     Roy Hibbert  15592217.0
118  Louis Williams   7000000.0


Cleveland Cavaliers
             Name      Salary
169  LeBron James  22970500.0
174    Kevin Love  19689000.0
168  Kyrie Irving  16407501.0


New York Knicks
               Name      Salary
33  Carmelo Anthony  22875000.0
38      Robin Lopez  12650000.0
30    Arron Afflalo   8000000.0


Houston Rockets
              Name      Salary
251  Dwight Howard  22359364.0
249   James Harden  15756438.0
245   Corey Brewer   8229375.0


Miami Heat
             Name      Salary
339    Chris Bosh  22192730.0
349   Dwyane Wade  20000000.0
341  Goran Dragic  14783000.0


Los Angeles Clippers
               Name      Salary
100      Chris Paul  21468695.0
98   DeAndre Jordan  19689000.0
96    Blake Griffin  18907726.0


Oklahoma City Thunder
                  Name      Salary
414       Kevin Durant  20158622.0
426  Russell Westbrook  16744218.0
418        Enes Kanter  16407500.0


Chicago Bulls
             Name      Salary
164  Derrick Rose  20093064.0
153  Jimmy Butler  16407500.0
162   Joakim Noah  13400000.0


Brooklyn Nets
              Name      Salary
23     Brook Lopez  19689000.0
29  Thaddeus Young  11235955.0
19    Jarrett Jack   6300000.0


San Antonio Spurs
                  Name      Salary
294  LaMarcus Aldridge  19689000.0
301      Kawhi Leonard  16407500.0
306        Tony Parker  13437500.0


Memphis Grizzlies
              Name      Salary
265     Marc Gasol  19688000.0
271  Zach Randolph   9638555.0
262    Mike Conley   9588426.0


Atlanta Hawks
               Name      Salary
315    Paul Millsap  18671659.0
312      Al Horford  12000000.0
321  Tiago Splitter   9756250.0


Indiana Pacers
            Name      Salary
199  Paul George  17120106.0
198  Monta Ellis  10300000.0
200  George Hill   8000000.0


Dallas Mavericks
                 Name      Salary
233   Wesley Matthews  16407500.0
238  Chandler Parsons  15361500.0
236     Dirk Nowitzki   8333334.0


Milwaukee Bucks
                Name      Salary
220      Greg Monroe  16407500.0
219  Khris Middleton  14700000.0
218        O.J. Mayo   8000000.0


Detroit Pistons
               Name      Salary
189   Tobias Harris  16000000.0
191  Reggie Jackson  13913044.0
182     Aron Baynes   6500000.0


Washington Wizards
              Name      Salary
382      John Wall  15851950.0
375   Nene Hilario  13000000.0
373  Marcin Gortat  11217391.0


Sacramento Kings
                 Name      Salary
143  DeMarcus Cousins  15851950.0
146          Rudy Gay  12403101.0
150       Rajon Rondo   9500000.0


New Orleans Pelicans
             Name      Salary
288   Eric Gordon  15514031.0
285  Tyreke Evans  10734586.0
290  Jrue Holiday  10595507.0


Golden State Warriors
              Name      Salary
89   Klay Thompson  15501000.0
82  Draymond Green  14260870.0
78    Andrew Bogut  13800000.0


Utah Jazz
               Name      Salary
448  Gordon Hayward  15409570.0
446  Derrick Favors  12000000.0
444      Alec Burks   9463484.0


Denver Nuggets
                 Name      Salary
388  Danilo Gallinari  14000000.0
387    Kenneth Faried  11235955.0
386   Wilson Chandler  10449438.0


Toronto Raptors
               Name      Salary
63  DeMarre Carroll  13600000.0
67       Kyle Lowry  12000000.0
64    DeMar DeRozan  10050000.0


Charlotte Hornets
              Name      Salary
330   Al Jefferson  13500000.0
324  Nicolas Batum  13125306.0
336   Kemba Walker  12000000.0


Phoenix Suns
               Name      Salary
121    Eric Bledsoe  13500000.0
127  Brandon Knight  13500000.0
124  Tyson Chandler  13000000.0


Minnesota Timberwolves
               Name      Salary
407     Ricky Rubio  12700000.0
405  Nikola Pekovic  12100000.0
400   Kevin Garnett   8500000.0


Boston Celtics
             Name      Salary
5    Amir Johnson  12000000.0
0   Avery Bradley   7730337.0
11  Isaiah Thomas   6912869.0


Orlando Magic
                 Name      Salary
366    Nikola Vucevic  11250000.0
359  Brandon Jennings   8344497.0
358    Ersan Ilyasova   7900000.0


Portland Trail Blazers
                 Name     Salary
428   Al-Farouq Aminu  8042895.0
431          Ed Davis  6980802.0
433  Gerald Henderson  6000000.0


Philadelphia 76ers
             Name     Salary
52    Carl Landry  6500000.0
49    Joel Embiid  4626960.0
56  Jahlil Okafor  4582680.0

### Задание 4:
Предложить первые пятерки каждой команды на основе их зарплаты (учитывайте, что в первой пятерке на каждой позиции один игрок (см. рисунок)).

In [13]:
positions = data.Position.unique()
grouped = data.groupby('Team')
for team in data.Team.unique():
    by_team = grouped.get_group(team).sort_values('Salary', ascending = False)
    print(team)
    print('=========================')
    for position in positions:
      print('{0} -- {1}'.format(position, by_team[by_team.Position == position].iloc[0]['Name']))        
    print('\n')

Boston Celtics
=========================
PG -- Avery Bradley
SG -- Evan Turner
SF -- Jae Crowder
PF -- Amir Johnson
C -- Tyler Zeller


Phoenix Suns
=========================
PG -- Eric Bledsoe
SG -- Devin Booker
SF -- P.J. Tucker
PF -- Mirza Teletovic
C -- Tyson Chandler


Indiana Pacers
=========================
PG -- George Hill
SG -- Monta Ellis
SF -- Paul George
PF -- Lavoy Allen
C -- Jordan Hill


Brooklyn Nets
=========================
PG -- Jarrett Jack
SG -- Bojan Bogdanovic

IndexError: single positional indexer is out-of-bounds

### Задание 5:
Самая молодая и самая возростная команда в лиге.

In [9]:
grouped = data.groupby('Team')
res = []
for team in data.Team.unique():
    by_team = grouped.get_group(team)
    res.append([team, round(by_team['Age'].mean(), 1)])
res.sort(key = lambda n: n[1])    
print('Самая молодая: {0}, средний возраст: {1}'.format(res[0][0], res[0][1]))
print('Самая возрастная: {0}, средний возраст: {1}'.format(res[len(res) - 1][0], res[len(res) - 1][1]))

Самая молодая: Utah Jazz, средний возраст: 24.5
Самая возрастная: San Antonio Spurs, средний возраст: 31.6

### Задание 6:
Наиболее часто используемый номер игрока в лиге.

In [10]:
frequent_number = data['Number'].mode().iloc[0]
print(frequent_number)

5

### Задание 7:
Имя и рост самого высокого и самого низкого игрока в лиге в метрической системе.

In [11]:
data.sort_values(by = 'Height', inplace = True)  
print('Самый высокий: {0}, рост: {1} см'.format(data.tail(1).iloc[0]['Name'], data.tail(1).iloc[0]['Height']))
print('Самый низкий: {0}, рост: {1} см'.format(data.head(1).iloc[0]['Name'], data.head(1).iloc[0]['Height']))

Самый высокий: Walter Tavares, рост: 221 см
Самый низкий: Isaiah Thomas, рост: 175 см